@model MEAB.Models.ArmyList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ArmyList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leader.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leader.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
